site_name: NRA公開会合 要約アーカイブ
theme:
  name: material
  language: ja
  features:
    - navigation.expand
    - search.suggest
    - search.highlight

plugins:
  - search
  - social:
      cards_layout: greeting
      cards_font: Noto Sans JP # 後述するフォント設定と連動します

markdown_extensions:
  - attr_list
  - admonition
  - pymdownx.details
  - pymdownx.superfences
