site_name: NRA公開会合 要約アーカイブ
site_url: https://nuc-info-nuc.github.io/NRA_summary/

theme:
  name: material
  language: ja
  features:
    - navigation.expand
    - search.suggest
    - search.highlight

plugins:
  - search
  - social:
      cards_layout_options:
        font_family: Noto Sans JP

markdown_extensions:
  - attr_list
  - admonition
  - pymdownx.details
  - pymdownx.superfences
